.map {
  width: 800px;
  height: 500px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 50px !important;
  border: 3px solid black;

  border-radius: 7px;
  /* background-color: #333; */
}

[class*="copyrights"] {
  display: none !important;
}

.icon-marker {
  position: absolute;
  width: 25px;
  height: 25px;

  cursor: pointer;

}

.popup {
  position: fixed;
  align-items: center;

  background: #fff;
  box-shadow: 0 0 8px 0 #0003;
  border-radius: 7px;
  border: 2px solid #000;
  display: none;

  top: 50%;
  left: 50%;
  width: 50%;
  height: 10%;

  transform: translate(-50%, -50%);
  z-index: 1;
}



.popup-content {
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.close:hover {
  color: #ff0000;
  width: 500px;
  height: 500px;
  /* background-color: #333; */
}